.page {
  width:100%;
}

.page h1 {
  text-align: center;
  padding:20px 0px;
  font-size: 50px !important;
  font-family: 'Leckerli One', cursive;
}

.page p {
  margin-bottom: 0px;
}

ol>li>ul {
  display:none;
}

ol>li>section {
  background-color: #ffcc79;
  padding: 10px 0px;
}

.prezzo {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

ol>li>section h2 {
  align-self: center;
  font-size: 1.5rem;
  margin:0px;
}

ol>li>section i {
  text-align: center;
  align-self: center;
}

ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ol>li {
  display: block;
}

.row {
  margin: 0px;
}

ul {
  padding:10px;
}

ul>li>div>h3 {
  font-size: 1.2em;
}

ul>li>p {
  text-align: center;
  align-self: center;
}


@media (min-width: 992px) {
    h1{
      font-size: 100px !important;
    }

    .page {
      padding: 60px 1px 20px 1px;
      margin-bottom: 20px;
      position: inherit;
      display:block;
      width: 50%;
      margin: auto;
      border-radius: 20px;
      border: 2px solid #f24816;
    }
  }
