main form {
  padding: 20pt;
  border: solid 2px #ff8000 !important;
}

body {
  align-self: flex-start;
}

h1 {
  font-size: 50px !important;
  font-family: 'Leckerli One', cursive;
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius:10px 10px 0 0;
  -moz-border-radius:10px 10px 0 0;
}

header img {
  width: 300pt;
  height: auto;
}

form fieldset {
	border: none;
  background: #F8F8F8;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  padding: 0 10px 0 10px;
  margin: 10px 10px 10px 10px;


}

form fieldset legend{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="tel"],
form input[type="date"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);

}

form div:last-child {
  display: flex;
  justify-content: flex-end;
}

.switch1 {
  margin-left: 10px;
}

.readonly {
  background: none;
  border: none;
  box-shadow: none;
}

.password {
  display: none;
}

form input[type="submit"] {
  background: none;
  border:none;
  margin-right: 5px;
  color: white;
  background-color: #F24816;
  padding: 2px 10px;
  border-radius: 20px;
  display: block;
  font-weight: bold;
}

@media (min-width: 992px) {
    h1{
      font-size: 100px !important;
    }

    form {
      width: 40%;
    }
  }
