#dashboard-row {
  margin-top: 20px;
}

nav img {
  max-width: 300px;
  max-height: 300px;
}

.dashRiga .card-header {
  text-transform: capitalize;
}

.row .card-deck {
  margin-left: 10px;
  margin-right:10px;
}

.dashRiga {
  margin-top: 20px;
}

.dashRiga:last-child {
  margin-bottom: 20px;
}

#aggiungi-rimuovi-content {
  border-color: #dddddd;
  border-width: medium;
}

#nav-rimuovi, #nav-aggiungi {
  padding: 20px;
}

#nav-aggiungi label{
  margin-top: 10pt;
}

em.aggiungi-elemento {
  font-size:36px;
  margin-right: 10pt;
}
