
main a {
  margin-top: 20pt;
  font-size: 400%;
  text-decoration: none;
  padding: 20pt;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border-color: #ff8000;
  color: #ff8000;
}

 p{
  color: black;
}

.btn-outline-primary:hover {
  background-color: #ff8000;
  border-color: #ff8000;
}

.btn {
  background-color: #ff8000;
  border-color: #ff8000;
  color: white !important;
}

.btn-lg {
  width: 300px;
}


@media (min-width: 992px) {
  .carousel{
    margin-top: 30px;
    order: 1
  }

  .carousel-caption {
    top: 0;
    bottom: auto;
  }

  h1{
    font-family:'Rancho',serif;
    font-size:100px !important;
    color: #ff8000;
  }

  .logo {
    width: 150px;
    height: 150px;
    order:3;
  }

  p {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
  }

  main div {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 50px;
  }
  .link{
    order: 2;
  }

  .link :first-child{
    margin-right: 20px;
  }

  .link :last-child{
    margin-left: 20px;
  }

  body{
    display: flex;
    flex-direction: column-reverse;
  }

  .btn-outline-primary:hover {
    background-color: #ff8000;
    border-color: #ff8000;
    color: white !important;
  }

  .btn {
    border-color: #ff8000;
    color: #ff8000 !important;
    background-color: white;
  }

}
