main form {
  padding: 20pt;
  border: solid 2px #ff8000 !important;
}

main .btn-outline-primary:hover {
  background-color: #ff8000;
  border-color: #ff8000;
}

main .btn {
  background-color: #ff8000;
  border-color: #ff8000;
  color: white !important;
}

main form input[type="image"] {
  width: 50pt;
  height: auto;
}

main form input[type="image"]:hover, main form label[for="submit"]:hover  {
  cursor: pointer;
}

form .form-group label {
  margin-bottom: 0;
}

#img_submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#iscriviti {
  margin-top: 5pt;
}

@media screen and (min-width: 992px) {
  main .btn-outline-primary:hover {
    background-color: #ff8000;
    border-color: #ff8000;
    color: white !important;
  }

  main .btn {
    border-color: #ff8000;
    color: #ff8000 !important;
    background-color: white;
  }
}
