#navbar-mobile, #navbar-desktop {
  padding: 2px 0%;
  background-color: #ffcc79;
  height: 48px;
}

nav.fixed-top {
  align-items: center;
}

nav button:hover {
  cursor: pointer;
}

nav img {
  width: 30px;
  height: 30px;
}

nav>ul>li>button {
  border:none;
  background: none;
  align-self: center;
  height: 46px;
}

.tendine>div>section>img {
  width: 100px;
}

nav>div:last-child {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

nav.row {
  margin: auto 0px;
  padding: 4px 0pt;
}

.navbar-toggler {
  padding: 4px 5px;
}

.tendine {
  position: fixed;
  background-color: #ffcc79;
  padding-top: 45px;
  z-index: 2;
  right:0px;
  width: 100%;
}

.tendine>div>section:last-child {
    margin-bottom: 15px;
}

.tendine h1 {
  font-size: 20pt !important;
}

#utente li {
  list-style: none;
  align-self: center;
  text-align: center;
  width:250px;
  margin: 15px auto;
  font-size: 20px;
  font-weight: bold;
}

.button {
  color: white;
  background-color: #f24816;
  padding: 2px 10px;
  border-radius: 20px;
  display: block;
  font-weight: bold;
}

#utente button {
  background: none;
  border: none;
  font-weight: bold;
  color: white;
  background-color:#f24816;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 20px;
  display: block;
  width: 100%;
}

.tendine h1 {
  font-weight: bold;
  margin: 10px 0px;
}

#carrello a {
  text-align: center;
}

#carrello li {
  margin: 20px 0px;
}

#carrello h2 {
  font-size: 15pt !important;
  text-align: center !important;
  margin: 0px !important;
  font-weight: bold;
}

#carrello li h2 {
  text-align: left !important;
  align-self: center !important;
}

#carrello .col-2 {
  text-align: center;
  align-self: center;
}

#carrello {
  padding:10px;
}

#carrello p {
  margin-bottom: 0px !important;
}

#carrello button:hover, #utente button:hover, #carrello a:hover, #utente a:hover, #notifiche i:hover, #carrello i:hover{
  cursor:pointer;
  text-decoration: none;
  color: white;
}

#carrello button:focus, #utente button:focus, nav button:focus{
  border:none;
}

#carrello section>section {
  text-align: center;
  align-self: center;
  align-items: center;
  padding: 10px;
}

.tendine>div>section:first-child {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 10px;
}

.tendine>div>section>ul {
  padding-left: 0px;
}

.tendine .row {
  margin: 0px;
}

.page {
  position: absolute;
  top: 45px;
  z-index: 1;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffcc79; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    white-space: nowrap;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.0s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav ul{
  list-style-type: none;
  padding-left: 0px;
}

.currentPage {
  background-color:#f24816;
}

.currentPage>a {
  pointer-events: none;
  cursor: default;
  color:black;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

}

@media screen and (min-width: 600px) {
  .tendine {width:400px;}
}
