header {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.immagine{
  display: flex;
  align-items: center;
  justify-content: center;
}

#content h1 {
  font-size: 70px !important;
  font-family: 'Leckerli One', cursive;
}

.immagine img {
  max-height: 200px;
}

fieldset {
  margin-bottom: 30px;
  padding-top:20px;
  padding-bottom: 20px;
}

.border{
  border: solid 2px #ff8000 !important;
}

input[type="text"]{
border: 0;
margin-left: 20px;
}

.carrello input[type="image"]{
  width: 30pt;
}

.carrello input[type="image"]:hover {
  cursor: pointer;
}

.arrow img {
  width: 20pt
}

.arrow img:hover {
  cursor: pointer;
}

.arrow{
  display: inline-block;
}

.arrow input[type="text"] {
  margin-left: 0;
  width:20pt;
  text-align: center;
}

#content h2{
  font-family:'Boogaloo', cursive;
  font-size: 26px !important;
  font-style: italic !important;
}

#content h3{
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px !important;
}

.msg{
  font-size: 14px !important;
}

.paragraph{
  font-size: 18px !important;
}

div #success{
  margin-top: 10px;
  margin-bottom: 0;
}
div #error{
  margin-top: 10px;
  margin-bottom: 0;
}

.sconto{
  margin-top: 40px;
  margin-bottom: 130px;
  float: right;
  margin-right: 30px;
}
.panel-heading{
  text-align: center;
}
.panel-body {
  margin-bottom:20px;
}

#no-offerte {
  margin-top: 40pt;
  text-align: center;
  padding: 20pt;
  border: solid 2px #FFBF18 !important;
}

#no-offerte span:first-child {
  font-size: 50pt;
}

#no-offerte span:last-child {
  font-size: 18pt;
}

.sale {
  position: relative;
  display: inline-block;
  background: orange;
  color: white;
  height: 5.5rem;
  width: 5.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 5.0rem;
  font-size: 25px;
  float:right;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation: beat 1s ease infinite alternate;
          animation: beat 1s ease infinite alternate;
}
.sale:before, .sale:after {
  content: "";
  position: absolute;
  background: inherit;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.sale:after {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

@-webkit-keyframes beat {
  from {
    -webkit-transform: rotate(-20deg) scale(1);
            transform: rotate(-20deg) scale(1);
  }
  to {
    -webkit-transform: rotate(-20deg) scale(1.1);
            transform: rotate(-20deg) scale(1.1);
  }
}

@keyframes beat {
  from {
    -webkit-transform: rotate(-20deg) scale(1);
            transform: rotate(-20deg) scale(1);
  }
  to {
    -webkit-transform: rotate(-20deg) scale(1.1);
            transform: rotate(-20deg) scale(1.1);
  }
}

.hide {
  display: inline !important;
}

.sconto{
  margin-right: 0;
  display: none;
}

@media (min-width: 992px) {
    #content h1{
      font-size: 100px !important;
    }

    #content h3{
      font-size: 40px !important;
      font-weight: normal;
    }

    #content h2{
      font-size: 50px !important;
    }

    .paragraph, p{
      font-size: 22px !important;
    }

    .hide {
      display:none !important;
    }

    .sconto{
      display: inherit ;
    }

    .immagine img {
      max-height: 300px;
    }

    .carrello input[type="image"]{
      height: 60px;
      width: auto;
    }

    .arrow img {
      height: 40px;
      width: auto;
    }

    #no-offerte {
      margin-top: 80pt;
    }

    #no-offerte span:first-child {
      font-size: 80pt;
    }

 }
