header {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

#content h1 {
  font-size: 70px !important;
  font-family: 'Leckerli One', cursive;
}

#content h2{
  font-family:'Boogaloo', cursive;
  font-size: 26px !important;
  font-style: italic !important;
}

#content h3{
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px !important;
}

.paragraph{
  font-size: 18px !important;
}

.immagine{
  display: flex;
  align-items: center;
  justify-content: center;
}

.immagine img {
  max-height: 200px;
}

fieldset {
  margin-bottom: 30px;
  padding-top:20px;
  padding-bottom: 20px;
}

.border{
  border: solid 2px #ff8000 !important;
}

input[type="text"]{
border: 0;
margin-left: 20px;
}

.carrello input[type="image"]{
  width: 30pt;
}

.carrello input[type="image"]:hover {
  cursor: pointer;
}

.arrow img {
  width: 20pt
}

.arrow img:hover {
  cursor: pointer;
}

.arrow{
  display: inline-block;
}

.arrow input[type="text"] {
  margin-left: 0;
  width:20pt;
  text-align: center;
}

fieldset ul{
  margin-left: -15px;
}

.msg{
  font-size: 14px !important;
}

.panel-default{
  border-color:  #FFBF18 !important;
}

div #success{
  margin-top: 10px;
  margin-bottom: 0;
}
div #error{
  margin-top: 10px;
  margin-bottom: 0;
}

@media (min-width: 992px) {

  #content h1{
    font-size: 100px !important;
  }

  #content h3{
    font-size: 40px !important;
    font-weight: normal;
  }

  #content h2{
    font-size: 50px !important;
  }

  #content p, #content ul {
      font-size: 22px !important;
    }

  .immagine img {
    max-height: 300px;
  }

  .carrello input[type="image"]{
    height: 60px;
    width: auto;
  }

  .arrow img {
    height: 40px;
    width: auto;
  }

 }
