body {
  align-self: flex-start;
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius:10px 10px 0 0;
  -moz-border-radius:10px 10px 0 0;
}

h1 {
  font-size: 50px !important;
  font-family: 'Leckerli One', cursive;
}

header img {
  width: 300pt;
  height: auto;
}

form fieldset {
	border: none;
  background: #F8F8F8;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  padding: 0 10px 0 10px;
  margin: 10px 10px 10px 10px;
}

form fieldset legend{
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="tel"],
form input[type="date"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);

}

div #submit {
  width: 50px;
  float: right;
  margin-bottom: 40px;
}


form fieldset + div{
 margin-left: 50px;
}

.switch1 {
  margin-left: 10px;
}

div #success{
  margin-top: 10px;
  margin-bottom: 0;
}
div #error{
  margin-top: 10px;
  margin-bottom: 0;
}

body{
  display: flex;
  align-items: center;
  flex-direction:column;
}

#informativa_privacy div {
  margin-left: 20px;
}

#informativa_privacy{
  padding: 13px;
}

#informativa_privacy input[type="checkbox"]{
  height: 16px;
  width: 16px;
}

form {
  border: solid 2px #ff8000 !important;
  border-radius: 6px;
  width: 90%;
}

@media (min-width: 992px) {
    h1{
      font-size: 100px !important;
    }

    form {
      width: 40%;
      padding-left: 20pt;
      padding-right: 20pt;
    }
  }
