#content h1 {
  text-align: center;
  font-size: 60px !important;
  font-family: 'Leckerli One', cursive !important;
}

main .row {
  margin-bottom: 20pt !important;
}

#panino-scelto {
  min-height: 200pt;
}

#panino-scelto img{
  height: auto;
}

#panino-scelto>div:last-child {
  text-align: center;
  margin-right: 2%;
}

#menuIngredienti {
  width:100pt;
}

#tabella {
  margin-bottom: 5%;
}

#tabella thead, tfoot {
  border-top: solid 1pt #D2D2D2;
  border-bottom: solid 1pt #D2D2D2;
}

#tabella th, td {
  padding: 10pt 5pt;
}

#tabella tr td div {
  padding-top: 10px;
}

#costruisci {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
}

#costruisci img {
  margin: 0;
}

form input[type="image"] {
  width: 50px;
}

.ingrediente {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.dettagli {
  text-align: center;
}

.aggiungi {
  display: flex;
  flex-flow: column;
}

.aggiungi em:hover {
  cursor: pointer;
}

#dati {
  margin-bottom: 5%;
}

#dati em {
  font-size:36px;
}

#vuoto {
  font-size: 15pt;
}

@media screen and (min-width: 992px) {
  #vuoto { font-size: 20pt; }

  #content h1{
    font-size: 100px !important;
  }

  #tabella tr td div {
    padding-top: 10px;
  }
}
